
/WebApplication1/WebApplication1/bin
/WebApplication1/WebApplication1/obj
/WebApplication1/WebApplication1/obj
/WebApplication1/WebApplication1/obj
/WebApplication1/WebApplication1/obj
/WebApplication1/WebApplication1/obj/Debug
/WebApplication1/WebApplication1/obj
/WebApplication1/WebApplication1/obj/Debug/net8.0
/WebApplication1/WebApplication1/obj/Debug
