WebApplication1/WebApplication1/bin/Debug/net8.0/appsettings.Development.json
.json
.csproject

/WebApplication1/WebApplication1/bin
/WebApplication1/WebApplication1/obj
/WebApplication1/WebApplication1/obj/Debug
/WebApplication1/WebApplication1/obj/Debug/net8.0
